#userdice {
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
}

#computerdice{
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
}